<%= form_for([@post, @post.comments.build]) do |f| %>
	
	<% #if user_signed_in? %>

		<p>
			<%= f.label :name %><br>
			<%= f.text_field :name %>
		</p>

		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %><br>
		</p>
		<br>
		<p>
			<%= f.submit %>
		</p>
	<% # end %>


<% end %>