<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Bruna Carlota</h1>
		<p>Mixtape kinfolk four dollar toast, keytar adaptogen cardigan jianbing taxidermy enamel pin irony bushwick gastropub cronut. YOLO keytar skateboard taxidermy, pop-up twee everyday carry scenester. Salvia subway tile distillery tote bag, messenger bag tilde narwhal edison bulb. Whatever celiac shoreditch green juice jean shorts. Snackwave tilde kinfolk flannel, taxidermy raclette pickled gochujang williamsburg pour-over freegan air plant 3 wolf moon listicle tbh. Meggings ethical 8-bit mixtape woke, fashion axe listicle church-key knausgaard tofu paleo unicorn single-origin coffee migas. Meh fanny pack disrupt pop-up la croix tbh.</p>
	</div>
</div>