<div id="post_content">

	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class="date">
		Submited <%= time_ago_in_words(@post.created_at) %> ago

		<% if user_signed_in? %> 
			|
		
			<%= link_to 'Edit', edit_post_path(@post) %> | 
			<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'} %>
		<% end %>

	</p>

	<p class="body">
		<%= @post.body %>
	</p>

	<div id="comments">
		<h2><%= @post.comments.count %> Comments</h2>
		<%= render @post.comments %>
		<h3>Join Discussion: </h3>
		<%= render "comments/form" %>
	</div>

</div>